<!--Registration Page Starts-->
<section id="registration">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body register-img">
              <div class="row m-0">
                <div class="col-lg-6 d-none d-lg-block py-2 px-3 text-center">
                  <img
                    src="assets/img/gallery/register.png"
                    alt=""
                    class="img-fluid mt-3 pl-3"
                    width="400"
                    height="230"
                  />
                </div>
                <form *ngIf='!confirmEmail' (submit)='submit()' [formGroup]="form"  class="col-lg-6 col-md-12 pt-3 px-4 bg-white">
                <div *ngIf='resetPasswordPage'>
                  <h4 class="card-title mb-2">Reset Password</h4>
                  <p class="card-text mb-3">
                    Please enter your new password below
                  </p>

                  <input
                    type="text"
                    class="form-control mb-3"
                    placeholder="Name"
                    formControlName="name"
                    disabled='true'
                  />
                  <input
                    type="email"
                    class="form-control mb-3"
                    placeholder="Email"
                    formControlName="email"
                    disabled='true'
                    />
                    <input
                    type="password"
                    class="form-control mb-3"
                    placeholder="Password"
                    autocomplete="new-password"
                    formControlName="password"
                    />
                    <div class="fg-actions d-flex justify-content-between">
                      <div class="login-btn">
                        <button class="btn btn-outline-primary">
                          <a
                          href="login-page.html"
                          class="text-decoration-none"
                          [routerLink]="['/sign-in']"
                          >
                          Click here to Login
                        </a>
                      </button>
                    </div>
                    <div class="recover-pass">
                      <button [disabled]='!form.valid || !form.dirty' class="btn btn-primary">
                        <a class="text-decoration-none text-white">
                          Reset Password
                        </a>
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf='forgotPasswordPage'>
                  <h4 class="card-title mb-2">Recover Password</h4>
                  <p class="card-text mb-3">
                    Please enter your email address and we'll send you
                    instructions on how to reset your password.
                  </p>
                  <input
                    type="email"
                    class="form-control mb-3"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <div class="fg-actions d-flex justify-content-between">
                    <div class="login-btn">
                      <button type="button" class="btn btn-outline-primary">
                        <a
                          class="text-decoration-none"
                          [routerLink]="['/sign-in']"
                        >
                          Click here to login
                        </a>
                      </button>
                    </div>
                    <div class="recover-pass">
                      <button [disabled]='!form.valid || !form.dirty' class="btn btn-primary">
                        <a class="text-decoration-none text-white">
                          Recover
                        </a>
                      </button>
                    </div>
                  </div>
                </div>
                </form>
              <div *ngIf='confirmEmail' class="col-lg-6 col-md-12 pt-3 px-4 bg-white">
                <br>
                <br>
                <br>
                <br>
                <h4 class="card-title mb-2">Your account has been verified</h4>
                <p class="card-text mb-3">
                  Please click either of the button below to return to the Login/Home page                 </p>
                <div class="fg-actions d-flex justify-content-between">
                  <div class="login-btn">
                    <button type="button" class="btn btn-outline-primary">
                      <a
                        class="text-decoration-none"
                        [routerLink]="['/sign-in']"
                      >
                        Click here to Login
                      </a>
                    </button>
                  </div>
                  <div class="recover-pass">
                    <button class="btn btn-primary">
                      <a [routerLink]="['/']" class="text-decoration-none text-white">
                        Home
                      </a>
                    </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->
