<div class="row text-left justify-content-center">
  <div class="col-7 signIn">
    <div class="d-flex justify-content-between signIn-nav">
      <a style="font-size: 1.5rem;" [routerLink]="['/']" routerLinkActive="router-link-active" >234Spaces<span class="signIn_dash">|</span></a>
      <a [routerLink]="['/sign-in']">Sign In <span class="signIn_dash"> | </span></a>
      <a [routerLink]="['/sign-up']">Sign Up</a>
    </div>
  </div>
  <div class="col-5 signIn_col">
    <div class="container">
      <h2 class="text-bold-700 mb-3">We are 234Spaces</h2>
      <div class="lead mb-3 signIn_sub-head">
        <p class="lead">Welcome back, Please login</p>
        <p class="lead">to your account</p>
      </div>
      <div class="signIn_form">
        <form novalidate (ngSubmit)='signIn()' [formGroup]="signInForm" class="form">
          <div class="form-body">
            <fieldset class="form-group">
                <!-- <label for="disabledInput">Input with Placeholder</label> -->
                <div style="border-left: 3px solid #000;" class="form-data">
                  <label class="form-data-label" for="disabledInput">Email</label>
                  <!-- <input class='special-input' type="email" placeholder="Your email"> -->
                  <input formControlName="email" type="email" class="form-control form-data-input signIn-emailInput" id="placeholderInput" placeholder="janedoe@gmail.com">
                </div>
                <div class="form-data">
                  <label class="form-data-label" for="disabledInput">Password</label>
                  <input formControlName="password" type="password" class="form-control form-data-input" id="placeholderInput" placeholder="Your password">
                </div>
            </fieldset>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <!-- <div class="remember-me">
              <div class="custom-control custom-checkbox custom-control-inline mb-3">
                <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input"/>
                <label class="custom-control-label" for="customCheckboxInline1">Remember Me</label>
              </div>
            </div> -->
            <div class="forgot-password-option">
              <a 
                [routerLink]="['/forgot-password']"
                class="text-decoration-none text-primary"
                >Forgot Password ?
              </a>
            </div>
          </div>
        <!-- </div>
      </div> -->
          <div class="d-flex align-items-baseline justify-content-between">
            <p>Don't have an account? <a [routerLink]="['/sign-up']" class="text-bold-500">Sign Up</a></p>
            <button type="submit" class="btn btn-raised px-4 mb-0  explore_spaces-icon">
              <span class="d-lg-inline-block signIn-btn">SIGN IN</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>