<div class="home-footer">
  <div class="container-fluid">
      <div class="row full-height"  matchHeight="card">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <h2 class="home-footer-head">234Spaces</h2>
          <p class="home-footer-text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <h5 class="text-bold-500 mb-3">Discover Spaces</h5>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Co-working space</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Meeting Rooms</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Business Meetings</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Conference Rooms</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Annual General Meetings</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Serviced Offices</a></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <h5 class="text-bold-500 mb-3">Locations</h5>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Lagos</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Abuja</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Kaduna</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Port-Harcourt</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Owerri</a></p>
            <p class="home-footer-text"><a href="#" class="home-footer-text">Kano</a></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 md-margin">
            <h5 class="text-bold-500 mb-3">Company</h5>
            <p class="home-footer-text"><a href="#">About us</a></p>
            <p class="home-footer-text"><a href="#">Contact us</a></p>
            <p class="home-footer-text"><a href="#">Policies</a></p>
            <p class="home-footer-text"><a href="#">Privacy</a></p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 md-margin">
            <h5 class="mb-3 md-margin-bottom">Connect with us</h5>
            <div class="d-flex justify-content-between md-footer mb-3">
              <a href="" class="home-footer-icon-style"><i class="fa fa-linkedin"></i></a>
              <a href="" class="home-footer-icon-style"><i class="fa fa-google-plus"></i></a>
              <a href="" class="home-footer-icon-style"><i class="fa fa-twitter"></i></a>
              <a href="" class="home-footer-icon-style"><i class="fa fa-facebook"></i></a>
              <a href="" class="home-footer-icon-style"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
      </div>
  </div>
  <p style="border-top: 1px solid rgba(255, 255, 255, 0.2)" class="card-footer copyright text-right">
      &copy;2019 234Spaces.Alright rights reserved.LLC
      <!-- {new Date().getFullYear()} -->
  </p>
</div>