<div class="row text-left">
  <div class="col-md-8">
<div class="card">
  <div class="card-header">
    <h2>
      {{space?.name}}
    </h2>
  </div>
  <br>
  <div class="card-content">
    <div class="px-3">
      <div class="row">
        <div *ngIf='space?.locationAddress' class="col-xl-12 col-lg-12 col-md-12">
              <fieldset class="form-group">
                <label for="name">Location</label>
                <input [(ngModel)]='space.locationAddress' disabled='true' type="text" class="form-control" name="name" id="name">
            </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <fieldset class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="Start date" name="dp" [(ngModel)]="dateStart" ngbDatepicker
                  #d1="ngbDatepicker">
                <div class="input-group-append">
                  <div class="input-group-text" (click)="d1.toggle()">
                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
              </div>
          </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <fieldset class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="End date" name="dp" [(ngModel)]="dateEnd" ngbDatepicker
                #d2="ngbDatepicker">
              <div class="input-group-append">
                <div class="input-group-text" (click)="d2.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
        </fieldset>
        </div>
        </div>
        <div class="row">
            <div class="col-6">
              <p>Start Time</p>
            </div>
            <div class="col-6">
              <p>End Time</p>
            </div>  
        </div>
        <div *ngIf='space?.selectedPricingOption === 0' class="d-flex justify-content-between">
          <div class="row">
              <div class="col-6">
                  <ngb-timepicker [(ngModel)]="timeStart" [minuteStep]="minuteStep" [meridian]='meridian'></ngb-timepicker>
              </div>
              <div class="col-6">
                  <ngb-timepicker [(ngModel)]="timeEnd" [minuteStep]="minuteStep" [meridian]='meridian'></ngb-timepicker>
              </div>  
          </div>
        </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <button [disabled]='!dateStart || !dateEnd' (click)='bookSpace()' type="button" class="btn btn-raised mr-1 btn-round btn-primary btn-large">Set Non-Availability</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>