<!-- Navbar (Header) Starts -->
<!-- <nav class="header-navbar navbar navbar-expand-lg navbar-dark navbar-bg-col">
    <div class="container-fluid">
        <div class="navbar-header navbar-right"> -->
            <!-- <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse" (click)="toggleSidebar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <!-- <span class="d-lg-none navbar-right navbar-collapse-toggle">
                <a class="open-navbar-container" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
                    <i class="ft-more-vertical"></i>
                </a>
            </span>
            <ul class="navbar-nav">
              <li class="nav-item" ngbDropdown [placement]="placement">
                <a [routerLink]="['/']" class="nav-link position-relative"><span class="nav-name">234Spaces</span><span class="spaces-space nav-name">|</span></a>
              </li>
            </ul>
           
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav">
                    <li *ngIf='merchantIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/admin']" class="nav-link position-relative"><span class="nav-name">{{currentUser['roles'] == 'Merchant'? 'Merchant': 'Admin'}}</span></a>
                    </li>
                    <li *ngIf='!merchantIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/sign-up-as-merchant']" class="nav-link position-relative"><span class="nav-name">List-your-space</span></a>
                    </li>
                    <li *ngIf='!anyUserIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/sign-in']" class="nav-link position-relative"><span class="nav-name">Sign in</span></a>
                    </li>
                    <li *ngIf='!anyUserIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/sign-up']" class="nav-link position-relative"><span class="nav-name">Sign up</span></a>
                    </li>
                    <li *ngIf='!anyUserIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/sign-up-as-merchant']" class="nav-link position-relative"><span class="nav-name">Merchant sign-up</span></a>
                    </li>
                    <li *ngIf='anyUserIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a (click)='signOut()' class="nav-link position-relative"><span class="nav-name">Sign out</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/list-your-space']" class="nav-link position-relative"><span class="nav-name">View Spaces</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/profile']" class="nav-link position-relative"><span class="nav-name">Profile</span></a>
                    </li>
                    <li *ngIf='anyUserIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/booking-request']" class="nav-link position-relative"><span class="nav-name">Booking Request</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/booking-request-two']" class="nav-link position-relative"><span class="nav-name">Booking Request 2</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/space-display']" class="nav-link position-relative"><span class="nav-name">Space Details</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/map-space']" class="nav-link position-relative"><span class="nav-name">Map-space</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/space-home']" class="nav-link position-relative"><span class="nav-name">Space-home</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a [routerLink]="['/new-space']" class="nav-link position-relative"><span class="nav-name">New-space</span></a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative"><span class="nav-name">Favorites</span></a>
                    </li>
                    <li *ngIf='anyUserIsAuthenticated()' class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative"><span class="nav-name">My account</span></a>
                    </li> -->
                    <!-- <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative"><span class="nav-name">Login</span></a>
                    </li> -->
                    <!-- <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative"><span class="nav-name">Logout</span></a>
                    </li> -->
                   
                <!-- </ul>
            </div>
        </div>
    </div>
</nav> -->
<!-- Navbar (Header) Ends -->