<app-new-nav></app-new-nav>
<div class="caption_container text-center px-1">
  <h3 class="main_caption">Promote your Space, beautifully</h3>
  <p class="sub_caption">Rent out your space to mobile professionals by the hour, day or month</p>
</div>
<div class="row justify-content-center spaces" matchHeight="card">
  <div class="col-sm-12">
    <p class="text-bold-100 spaces_dash">-</p>
    <h1 class="spaces_head">Who should list on 234Spaces?</h1>
    <div class="spaces_sub_head">
      <p>234Spaces Venue Partners have work and meeting spaces that are available for short-term bookings. </p>
      <!-- <p>are available for short-term bookings. </p> -->
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card spaces_md-small">
              <div class="spaces_content ">
                  <div class="spaces_text">Co-working Space</div>
                <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images">
              </div> 
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card spaces_md-small">
                <div class="spaces_content ">
                  <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images">
                  <div class="spaces_text">Creative Space</div>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card spaces_md-small">
                <div class="spaces_content ">
                    <div class="spaces_text">Office Space</div>
                  <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images">
                </div> 
            </div>
        </div>    
  </div>
  <!-- <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
          <div class="spaces_content ">
              <div class="spaces_text">Event Centers</div>
            <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images">
          </div> 
      </div>
  </div> 
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card">
        <div class="spaces_content ">
            <div class="spaces_text">Hotel Space</div>
          <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images">
        </div> 
    </div>
</div>   
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card">
        <div class="spaces_content ">
            <div class="spaces_text">Hotel Space</div>
          <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images">
        </div> 
    </div>
</div>   
  </div>
</div> -->
<div class="row justify-content-center spaces spaces_bg-special" matchHeight="card">
    <div class="col-sm-12">
      <p class="text-bold-100 spaces_dash">-</p>
      <h1 class="spaces_head">List your space for free</h1>
      <div class="spaces_sub_head">
        <p>Lorem ipsum is placeholder text commonly used in the graphic</p> 
        <!-- <p>are available for short-term bookings. </p> -->
      </div>
    </div>
    <div class="container-fluid spaces_width_special">
        <div class="card spaces_card-border">
            <div class="card-body spaces_card-pad">
                <div class="px-3">
                    <div class="form spaces_form-align">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group spaces_form-margin">
                                    <label for="userinput1">Venue name</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Landmark Towers">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group spaces_form-margin">
                                      <label for="projectinput6">Location</label>
                                      <select id="projectinput6" name="budget" class="form-control">
                                        <option value="0" selected="" disabled="">Select Location</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Abuja">Abuja</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Others">Others</option>
                                      </select>
                                    </div>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group spaces_form-margin">
                                    <label for="userinput1">Headline name</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Enter headline here">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group spaces_form-margin">
                                      <label for="projectinput6">Venue type</label>
                                      <select id="projectinput6" name="budget" class="form-control">
                                        <option value="0" selected="" disabled="">Select venue type</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Abuja">Abuja</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Others">Others</option>
                                      </select>
                                    </div>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="userinput1">Email Address</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Enter headline here">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="userinput1">Phone Number</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Enter headline here">
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- <div class="spaces_form"> -->
                        <button [routerLink]="['/sign-up-as-merchant']" type="button" class="btn btn-raised px-4 mb-0 mt-2 spaces_form-bg">
                            <!-- <i class="ft ft-search d-lg-none d-lg-inline-block"></i> -->
                            <!-- List your space for free -->
                            <span class="spaces_form-text">List your space for free</span>
                          </button>
                    <!-- </div> -->
                </div>
              </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>

<!-- https://res.cloudinary.com/rajilat1000/image/upload/v1566251659/samples/landscapes/nature-mountains.jpg -->